<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugatti.repository.EditorMapper">
    <resultMap id="BaseResultMap" type="com.bugatti.dataObject.EditorDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <!--<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.bugatti.dataObject.EditorDto">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>-->
    <sql id="Base_Column_List">
    id, img_url, create_date, modify_date
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from editor
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectByExample" parameterType="com.bugatti.dataObject.EditorDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from editor
        <where>
            <if test="imgUrl != null">
                img_url=#{imgUrl}
            </if>

            <if test="createDate != null">
                create_date=#{createDate},
            </if>
            <if test="modifyDate != null">
                modify_date=#{modifyDate},
            </if>

            <if test="content != null">
                content LIKE CONCAT('%',#{content},'%')
            </if>


        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from editor
    where id = #{id,jdbcType=INTEGER}
  </delete>


    <insert id="insertSelective" parameterType="com.bugatti.dataObject.EditorDto">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into editor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgUrl != null">
                img_url,
            </if>

            create_date,


            modify_date,

            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bugatti.dataObject.EditorDto">
        update editor
        <set>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>